*{
    margin:0;
    padding:0;
    font-family: "Arial", sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:rgba(18, 168, 168, 0.235);
    color: white; 
}
#header{
    width: 100%;
    height: 100vh;
    background-color:rgb(64, 29, 130);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 5px 5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap:wrap;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 20px;
}
nav ul li a{
    color: white;
    font-size:18px;
    text-decoration:none;
    position: relative;
}
nav ul li a::after{
    content: " ";
    width:0;
    height:3px;
    background: rgb(1, 43, 255);
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top:10%;
    font-size:37px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:rgb(1, 43, 255);
}
.header-text h1{
    font-size:60px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:rgb(1, 43, 255);
}
/* about page */
#about{
    padding:80px 0;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis:35%;
}
.about-col-1 img{
    width: 100%;
    height:90%;
    border-radius:15px;
}
.about-col-2{
    flex-basis:60%;
    
}
.subtitle{
    font-size:50px;
    
}
.experience-col-1{
    flex-basis:35%;
}
.experience-col-1 img{
    width: 75%;
    height:75%;
    border-radius:15px;
}
.experience-col-2{
    flex-basis:60%;
    
}
.subtitle{
    font-size:50px;
    text-align:center;
}
.tab-titles{
   display:flex;
   margin:20px 0 40px; 
}
.tab-links{
    margin-right: 50px;
    font-size:18px;
    font-weight: 500;
    cursor:pointer;
    position:relative;
}
.tab-links::after{
    content:" ";
    width:0;
    height:3px;
    background: rgb(1, 43, 255);
    position: absolute;
    left:0;
    bottom:-8px;
    transition:0.5s;
}
.tab-links.active-link::after{
    width:50px;
}
.tab-contents ul li{
    list-style:none;
    margin:10px 0;
}
.tab-contents ul li span{
    color: rgb(1, 43, 255);
    font-size:14px;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:block;
}
#contact{
    padding: 80px 0;
    text-align:center;
    font-size:40px;
}
.social-icons{
    margin-top:20px;
}
.social-icons a{
    margin: 0 10px;
    font-size:80px;
    color:white;
}
.social-icons a:hover {
    color: rgb(1, 43, 255);
}
.sub-title{
    padding: 80px 0;
    font-size:50px;
    text-align:center;
}
#hobbies .pictures{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    flex-wrap:wrap;
}
#hobbies figure{
    text-align:center;
    margin:10px;
}
#hobbies img{
    max-width:200px;
    height:auto;
    border-radius:15px;
}
figcaption a {
    color: rgb(1, 43, 255);
    text-decoration: underline; 
  }

#hobbies figcaption{
    margin-top: 8px;
    font-size: 14px;
    color: white;
    margin: auto;
}
#hobbies .pictures figure:nth-child(2) img {
    max-width: 300px;
}
#hobbies img:hover {
    transform: scale(1.1); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}
/*for small screen*/
nav .fas{
    display:none;
}
@media only screen and (max-width: 500px){
    nav .fas{
        display: block;
        font-size:25px;
    }
    nav ul{
       background:rgba(18, 168, 168, 0.235);
       position:fixed;
       top:0;
       right:-200px;
       width:200px;
       height:100vh;
       padding-top:50px;
       z-index:2;
       transition:0.5s;
    }
    nav ul li{
        display:block;
        margin:25px;
    }
    nav ul .fas{
        position:absolute;
        top:25px;
        left: 25px;
        cursor: pointer;
    }
    .subtitle{
        font-size:40px;
    }
    .about-col-1, .about-col-2{
        flex-basis:100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size:14px;
    }
    .tab-links{
        font-size:16px;
    }
    .experience-col-1{
        flex-basis:100%;
        height: 400px;
    }
}